/* From Uiverse.io by KapeParaguay */
.login-page .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(45deg, skyblue, darkblue);
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: background 0.3s ease;
}

.login-page .form:hover {
    background: linear-gradient(45deg, darkblue, skyblue);
}

.login-page ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login-page .form button {
    align-self: flex-end;
}

.login-page .flex-column>label {
    color: white;
    font-weight: 600;
}

.login-page .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10em;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: white;
}

.login-page .input {
    margin-left: 10px;
    border-radius: 10rem;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.login-page .input:focus {
    outline: none;
}

.login-page .inputForm:focus-within {
    border: 1.5px solid orange;
}

.login-page .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.login-page .flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.login-page .span {
    font-size: 14px;
    margin-left: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.login-page .button-submit {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid;
    border-radius: 10em;
    box-shadow: inset 0 0 0 0 blue;
    margin: 20px 0 10px 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.login-page .button-submit:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 royalblue;
}

.login-page .button-submit:active {
    transform: scale(0.9);
}

.login-page .p {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 5px 0;
}

.login-page .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-page .btn:hover {
    border: 1px solid orange;
}